<mat-card>
  <h2>Create</h2>
  <form [formGroup]="createForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Image url</mat-label>
      <input matInput formControlName="photoUrls">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="dog">Dog</mat-option>
        <mat-option value="cat">Cat</mat-option>
        <mat-option value="bird">Bird</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="available">Available</mat-option>
        <mat-option value="pending">Pending</mat-option>
        <mat-option value="sold">Sold</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-select formControlName="tags" multiple>
        <mat-option value="friendly">Friendly</mat-option>
        <mat-option value="companion">Companion</mat-option>
        <mat-option value="home">Home</mat-option>
        <mat-option value="guardian">Guardian</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="createForm.invalid">Create</button>
  </form>
</mat-card>
