<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>

<!-- Toolbar -->
<div role="banner">
  <span>{{ title }}</span>
</div>

<div class="content" role="main">
  <app-login></app-login>
  <app-search></app-search>
  <app-detail></app-detail>
</div>

<router-outlet></router-outlet>
