<h2>Search</h2>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label>
    <input type="checkbox" formControlName="available" value="available"> Available
  </label>
  <label>
    <input type="checkbox" formControlName="pending" value="pending"> Pending
  </label>
  <label>
    <input type="checkbox" formControlName="sold" value="sold"> Sold
  </label>
  <br>
  <button class="button" type="submit">Search</button>
</form>

<ng-container *ngIf="petsLength; else emptyState">
  <app-results [pets]="pets"></app-results>
</ng-container>
<ng-template #emptyState>
  <app-empty-state></app-empty-state>
</ng-template>