<h2>Search</h2>
<form [formGroup]="searchForm">
  <label>
    <input type="checkbox" formControlName="available" value="available"> Available
  </label>
  <label>
    <input type="checkbox" formControlName="pending" value="pending"> Pending
  </label>
  <label>
    <input type="checkbox" formControlName="sold" value="sold"> Sold
  </label>
  <br>
  <button (click)="onSubmit()" [disabled]="searchForm.invalid">Search</button>
</form>
<ng-container *ngIf="userMessage">
  {{ userMessage }}
</ng-container>

<ng-container *ngIf="petsLength">
  <app-results [pets]="pets"></app-results>
</ng-container>